// About Page Code Here

.peopleSection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 7vw;
    width: 100%;
    color: white;

    div {
        width: 25vw;

        h2 {
            font-size: 2vw;
            margin: 1% 0%;
        }
        p {
            margin-top: -2%;
            margin-bottom: 5%;
            font-size: 2vw;
        }
    }//closes div
    
    .imageContainer {
        width: 35%;
        margin: auto;
        box-shadow: -15px 20px #1DB954;
        margin-bottom: 6%;

        img {
            box-shadow: -10px 15px black;
            border: 1px solid white;
        }
    }//closes .imageContainer
}//closes .peopleSection