//Footer Code Here

footer {
    display: flex;
    flex-direction: column;
    margin-top: 7vw;
    background: #080808;
    padding-top: 3vw;
    border-top: 1vw solid #101010;
    
    .footerDiv {
        display: flex;
        align-items: center;
        width: 55%;
        justify-content: space-between;
        margin: 0 auto;
        margin-bottom: 5vw;

        .footerLogo {
            width: 12vw;
            background: none;
        }

        div {
            display: flex;
            justify-content: center;
            width: 10vw;
        }

        .aLinks a{
            font-size: 2vw;
            background: #222326;
            color: white;
            padding: 1vw;
            border-radius: 50%;
            margin: auto 1vw;
            width: auto;

            & :hover {
                color: #1DB954;
            }
        }//closes .aLinks a
    }//closes .footerDiv

    #footerH2 {
        color: white;
        font-size: 2vw;
        padding: .7vw;
    }
}//closes footer