// Home Page Code Here

.heroContainer {
    background-image: url(../img/heroPic5.jpg); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 5vw;

    h1 {
        font-size: 5vw;
    }
    
    h2 {
        font-size: 2.5vw;
    }

    button {
     .customButton(@bg-color: #1DB954; @width: 20vw; @font-color: white);
     height: 6vh;
     font-size: .8vw;
     border-radius: 50px;
    }
}//closes .heroText

span {
    font-size: inherit;
    display: inline;
    margin-left: -1%;
}

.introQuote {
    // display: flex;
    // flex-direction: column;
    // align-content: center;
    color: #1DB954;
    margin: 4.5%;
    height: 15vh;
    // background: black;
    
    h1 {
        font-size: 2.5vw;
        margin-bottom: .7%;
    }
    h2{
        font-size: 1.2vw;
        color: white;
    }
}//closes .introQuote


.firstSlide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1DB954;
    background: #191414;
    margin: 5% auto;

    .firstSlideImg {
        width: 40%;
        padding: 0%;
        box-shadow: 25px 35px lightgreen;

        img {
            box-shadow: 10px 15px #1DB954;
        }
    }//closes .firstSlideImg

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: -5%;
        line-height: 750%;
        height: 50%;
        background: white;
        padding: 2.5%;

        h2 {
            font-size: 3.5vw;
        }
        h3 {
            font-size: 2.5vw;
        }
        p {
            font-size: 2vw;
            color: #191414;
            font-weight: 550;
        }
        a {
            margin-top: 5%;
            font-size: 2.5vw;
            .customButton(@bg-color: #1DB954; @width: 12vw; @font-color: #191414);
            // border-radius: 50px;
        }
    }//closes div
}//closes .firstSlide

.secondSlide {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    color: #1DB954;
    background: #1DB954;
    margin: 10% auto;
    padding: 5%;

    .secondSlideImg {
        width: 40%;
        padding: 0%;
        box-shadow: 25px 35px #191414;

        img {
            box-shadow: 10px 15px black;
        }
    }//closes .secondSlideImg

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: -5%;
        line-height: 750%;
        height: 50%;
        padding: 2.5%;

        h2 {
            font-size: 3.5vw;
            color: #191414;
        }
        h3 {
            font-size: 2.5vw;
            color: #191414;
        }
        p {
            font-size: 2vw;
            color: #191414;
            font-weight: 550;
        }
    }//closes div
}//closes .secondSlide

.thirdSlide {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #1DB954;
    background: #191414;
    margin: 5% auto;

    .thirdSlideImg {
        width: 40%;
        padding: 0%;
        box-shadow: 25px 35px lightgreen;

        img {
            box-shadow: 10px 15px #1DB954;
        }
    }//closes .thirdSlideImg

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: -5%;
        line-height: 750%;
        height: 50%;
        background: white;
        padding: 2.5%;

        h2 {
            font-size: 3.5vw;
        }
        h3 {
            font-size: 2.5vw;
        }
        p {
            font-size: 2vw;
            color: #191414;
            font-weight: 550;
        }
        a {
            margin-top: 5%;
            font-size: 2.5vw;
            .customButton(@bg-color: #1DB954; @width: 12vw; @font-color: #191414);
            // border-radius: 50px;
        }
    }//closes div
}//closes .thirdSlide
