// Home Page Code Here

.heroContainer {
    background-image: url(../img/heroPic5.jpg); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 100vh; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.heroText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    line-height: 5vw;

    h1 {
        font-size: 5vw;
    }
    
    h2 {
        font-size: 2.5vw;
    }

    button {
     .customButton(@bg-color: #1DB954; @width: 20vw; @font-color: white);
     height: 6vh;
     font-size: .8vw;
     border-radius: 50px;
    }
}//closes .heroText